/* Normalizing elements*/
#content-container, #root, html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: #ffffff;
}

section.component {
  margin: 50px;
  background:#fff;
  padding: 10px;
}

section[name="card-component"] {
  background-color: rgb(242, 242, 242);
}

section.component input,
section.component select {
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgb(224, 228, 230);
  height: 12px;
  width: 12px;
}

section.component section {
  padding: 0 20px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  height: 146px;
}

.App {
  display: flex;
  flex-direction: row;
  height: auto;
  text-align: center;
  min-height: 100%;
  width: 100%;
}

.App h2 {
align-items: center;
display: flex;
height: 100px;
justify-content: center;
margin: 0;

}

.App header {
  background: rgb(0, 151, 219);
}

.App-link {
  color: #61dafb;
}

#mock-id {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

