/* Normalizing elements*/
#content-container, #root, html, body {
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  background-color: #efefef;
}

section.component {
  margin: 50px;
  background:#fff;
  padding: 10px;

}

section.component input,
section.component select {
  border-top: none;
  border-left: none;
  border-right: none;
}

section.component section {
  padding: 0 20px;
}

.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  text-align: center;
  width: 100%;
}

.App h2 {
align-items: center;
display: flex;
height: 100px;
justify-content: center;
margin: 0;

}

.App header {
  background: rgb(25, 153, 255);
}

.App-link {
  color: #61dafb;
}

#mock-id {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

