html, body {
  padding: 0;
  margin: 0;
}

html {
  background-color: #efefef;
}

section.component {
  margin: 20px 0;
  background:#fff;
  padding: 10px;

}

section.component input,
section.component select {
  border-top: none;
  border-left: none;
  border-right: none;
}

section.component section {
  padding: 0 20px;
}

.App {
  text-align: center;
}

.App h2 {
align-items: center;
background-color: #103fff;
color: yellow;
display: flex;
height: 100px;
justify-content: center;
margin: 0;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#mock-id {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
