#left-bar {
  background-color: rgb(24, 35, 51);
  min-width:115px;
  padding: 10px 5px 0;
}

#left-bar ul {
  list-style: none;
  padding: 0;
}

#left-bar li a {
 text-decoration: none;
 color: cyan;
}
