form#create-template main {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  min-height: 122px;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
}

#create-template section#template-header {
  display: flex;
  flex-basis: 100%;
  height: 52px;
  justify-content:flex-start;
  margin-bottom: 10px;
}


aside.meta-info {
  display:flex;
}
aside.meta-info div {
  border: 1px solid black;
  padding: 5px;
  flex-basis: 10%;
  border-radius: 5px;
}

section#template-header input {
  display: inline-flex;
  height: 40px;
  margin-right: 50px;
  flex-basis: 100%;
}

#template-config {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

#template-config select {
  flex-basis: 175px;
}

#template-config select[name="method"] {
  flex-grow: .175;
}

#template-builderHeader{
  display: flex;
  margin: 20px 0;
}

.template-url{
  width: 700px;
  margin-left: 30px;
}

#template-builderBody{
  padding: 0;
}

.template-builderBody{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 20px 0;
}

label{
  padding-bottom: 5px;
}

.template-header textarea{
  overflow: scroll;
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.template-body textarea{
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.template-body label{
  margin: 5px;
}
.table{
  display: flex;
  width: 100%;
}

.checkbox{
  width: 40px
}
td{
  padding: 5px;
  width: auto;
  border: 1px solid black;
}

.uploadButton{
  float: right
}

.uploadDropzone{
  width: 500px;
  height: 500px;
  border: 1px dotted grey;
}

.inline{
  float: left;
}

.fileList{
 margin: 7px;
 display: flex;
 justify-content: space-evenly;
}
