.search-bar-div {
  height: 25px;
}

input#template-name-search-bar {
  width: 100px;
  margin-right: 20px;
  margin-left: 10px;
}

input#template-id-search-bar{
  width: 100px;
  margin-right: 20px;
  margin-left: 10px;
}

input#team-search-bar{
  width: 100px;
  margin-right: 20px;
  margin-left: 10px;
}

form#template-header {
  border: 1px solid black;
  display: flex;
  flex-basis: 100%;
  height: 500px;
  justify-content:flex-start;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.response-body{
  display: flex;
  flex-direction: column;
}

.responseContent{
  text-align: left;
  font-size: 15px;
  line-height: 25px;
}

.responseNestedContent div{
  margin: 10px 0;
}

#template-response{
  margin: 10px;
  width: auto;
  max-width: 500px;
  height: 400px;
  border: 1px solid black;
}

#template-response label{
  border: 1px solid black;
  display: inherit;
  background-color: grey;
}

#template-response p{
  text-align: left;
  margin-top: 10px; 
}

#json{
 overflow: visible;
}

#create-template-btn{
  border: none;
  background-color: rgb(241, 242, 244);
  position: relative;
  left: 12px;
}

#create-template-link{
  font-family: 'Nunito-Bold';
  color: rgb(18, 214, 97);
  font-size:  14px;
  font-weight: bold;
  height: 15px;
  letter-spacing: 0.54px;
  line-height: 15px;
  text-transform: uppercase;
  width: 160px;
  text-decoration: none;
  position: relative;
  bottom: 5px;
  left: 3px;
}

#create-template-icon{
  color: rgb(18, 214, 97);
  height:  11.25px;
  width: 11.25px;
  position: relative;
  top: 2px;
  right: 20px;
}

.template-list-footer{
  width: 1145px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#pagination-btns button{
  width: 20px;
  position: relative;
  right: 155px;
  border: none;
  background-color: rgb(241, 242, 244);
}

.material-icons.md-13{
  font-size: 13px;
}

#pagination-back{
  height: 13px;
  width: 13px;
  line-height: 21px;
  color: rgb(0, 151, 219);
}

#pagination-forward{
  height: 13px;
  width: 13px;
  line-height: 21px;
  color: rgb(0, 151, 219);
}

#records-per-page{
  width: 130px;
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-family: MyriadPro-Regular;
  font-weight: normal;
  line-height: 21px;
  position: relative;
  left: 620px;
}

#custom-select{
  position: relative;
  left: 150px;
  width: 50px;
  line-height: 21px;
  border-top: none;
  border-left: none;
  border-right: none;
  background:  rgb(241, 242, 244);
  height: 15px;
} 
 
#template-page-number{
  position: relative;
  left: 100px;
  line-height: 21px;
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-family: MyriadPro-Regular;
  top: 2px;
}

#records-per-page-select{
  position: relative;
  left: 180px;
  line-height: 21px;
  background-color: rgb(242, 242, 242);
  border: none;
}