.accordianWrapper{
    max-height: 800px;
    margin: 10px;
}

.accordianCloseHeader{
    width: 500px;
    height: 28px;
    border: 1px solid black;
    background-color: rgb(169, 169, 169);
    display: flex;
    justify-content: space-between;
}

.accordianHeader, .accordianState{
    align-self: center;
}

.accordianToggle{
    display: flex;
}
.accordianOpenHeader{
    width: 500px;
    height: 28px;
    border: 1px solid black;
    background-color: rgb(169, 169, 169, 0.5);
    display: flex;
    justify-content: space-between;
}

.accordianCloseHeader div, .accordianOpenHeader div{
    margin: 7px;
}

.accordianState{
    background-color: black;
    width: 15px;
    height: 15px;
    color: white;
    display: inline-table;
    text-align: center;
}


.accordianContent{
    max-width: 500px;
    min-height: 250px;
    flex-basis: auto;
    border: 1px solid black;
    display: flex;
    overflow: scroll;
    
}

.accordianContent p{
    margin: 15px;
    
}

.accordianContent .accordianOpenHeader, 
.accordianContent .accordianCloseHeader{
    width: 370px;
}