.query-builder {
    margin: 12px auto;
    
    [draggable] {
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      /* Required to make elements draggable in old WebKit */
      -khtml-user-drag: element;
      -webkit-user-drag: element;
    }
  
    .input {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 0 4px;
      font-variant: tabular-nums;
      list-style: none;
      -webkit-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum', "tnum";
      position: relative;
      display: flex;
      flex: 0 0 auto;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      line-height: 1.5;
      background-color: #fff;
      background-image: none;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      height: 24px;
      padding: 1px 7px;
      
      &.flex-grow {
        flex: 1 0 auto;
      }
  
      &:hover {
        border-color: #40a9ff;
        border-right-width: 1px !important;
      }
    }
  
    .btn {
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
      text-align: center;
      background-image: none;
      border: 1px solid transparent;
      -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      border-radius: 4px;
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
      border-color: #d9d9d9;
      height: 24px;
      padding: 0 7px;
      font-size: 14px;
      line-height: 22px;
      margin: 0 0 0 4px;
  
      &:hover, &:focus {
        color: #40a9ff;
        background-color: #fff;
        border-color: #40a9ff;
      }
  
      > i {
        display: inline-block;
        color: inherit;
        font-style: normal;
        line-height: 1;
        text-align: center;
        text-transform: none;
        vertical-align: -0.125em;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
  
        + span {
          margin-left: 8px;
        }
      }
  
      &.icon-btn {
        width: 24px;
        height: 24px;
        padding: 0;
        font-size: 14px;
        border-radius: 4px
      }
  
      &.btn-delete {
        color: #fff;
        background-color: #d9363e;
        border-color: #d9363e;
        flex: 0 0 auto;
      }
    }
  
    .header {
      display: flex;
    }
  
    .btn-group {
      position: relative;
      display: inline-block;
      margin-left: 4px;
  
      &.group-end {
        flex: 1 1;
        display: flex;
        justify-content: flex-end;
      }
  
      > .btn {
        border-radius: 0;
        margin: 0;
  
        + .btn {
          margin-left: -1px;
        }
  
        &.btn-primary {
          color: #fff;
          background-color: #1890ff;
          border-color: #1890ff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
          -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  
          &:not(:first-child):not(:last-child) {
            border-right-color: #40a9ff;
            border-left-color: #40a9ff;
          }
        }
  
        &:first-child:not(:last-child) {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &:last-child:not(:first-child) {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
        &:first-child:last-child {
          border-radius: 4px;
        }
      }
    }

    .rules-group {
      .rule {
        margin-top: 4px;
        display: flex;
    
        &.over {
          border: 2px dashed #000;
        }
      }

      &:not(:first-child) {
        border-left: 1px solid #ccc;
        padding-left: 12px;
        margin-left: 2px;
        margin-top: 12px;
      }
    }
  
    .drag-handle {
      display: inline-block;
      color: inherit;
      font-style: normal;
      line-height: 0;
      text-align: center;
      text-transform: none;
      vertical-align: -0.125em;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding-top: 4px;
      cursor: grabbing;
    }
  
    .output {
      border-top: 1px solid #666;
      width: 100%;
      display: block;
      margin-top: 40px;
      padding-top: 12px;
    }
  }